@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

body {
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 400;
  background-color: #f7f9fc;
  color: #73777B;
}

.container {
  width: 700px;
  margin: 40px auto;
}

.card-white {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 5%);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}

h1 {
  font-size: 24px;
  font-weight: 600;
  color: #15133C;
}

h2 {
  font-size: 18px;
  font-weight: 600;
}

p {
  padding: 32px;
}


a {
 font-weight: 600;
 text-decoration: none;
 color: #f7f9fc;
}

a:hover {
  color: #73777B;
}

.img-circle {
  width: 150px;
  border-radius: 50%;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline-block;
}

.list-inline i {
  font-size: 32px;
  color: #EC994B;
  margin: 8px 8px;
}

.list-inline i:hover {
  color: rgb(245,245,245);
}

.btn-orange {
  background-color: #EC994B;
  color:#f7f9fc;
  padding: 16px 24px;
  border-radius: 4px;
}

.btn-orange:hover {
  background-color: rgb(0 0 0 / 80%);;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}